In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
engine = create_engine(db_string)
Base = declarative_base()

In [ ]:
from sqlalchemy import Column, Integer, String, Date, ForeignKey, CheckConstraint, UniqueConstraint

Defining SQL database schema with constraints

In [ ]:
class Game(Base):
    __tablename__ = 'games'
    __table_args__ = (
        CheckConstraint('winner_pts > 0'),
        CheckConstraint('loser_pts > 0')
    )
    id = Column(Integer, primary_key=True)
    date = Column(Date, nullable=False)
    sb = Column(String(50))
    winner_id = Column(Integer, ForeignKey('teams.id'))
    winner_pts = Column(Integer, nullable=False)
    loser_id = Column(Integer, ForeignKey('teams.id'))
    loser_pts = Column(Integer, nullable=False)
    mvp_id = Column(Integer, ForeignKey('players.id'))
    stadium_id = Column(Integer, ForeignKey('stadiums.id'))
    
class Team(Base):
    __tablename__ = 'teams'
    __table_args__ = (
        UniqueConstraint('name'),
    )
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    
class Player(Base):
    __tablename__ = 'players'
    id = Column(Integer, primary_key=True)
    full_name = Column(String(50), nullable=False)
    
class Stadium(Base):
    __tablename__ = 'stadiums'
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    city_id = Column(Integer, ForeignKey('cities.id'))
    
class City(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    state_id = Column(Integer, ForeignKey('states.id'))
    
class State(Base):
    __tablename__ = 'states'
    __table_args__ = (
        UniqueConstraint('name'),
    )
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    
Base.metadata.create_all(engine)

Describing database in POSTGRESQL language
CREATE TABLE games(
    id serial PRIMARY KEY,
    date DATE NOT NULL,
    sb VARCHAR(50),
    winner_id integer NOT NULL,
    winner_pts integer NOT NULL,
    loser_id integer NOT NULL,
    loser_pts integer NOT_NULL,
    mvp_id integer NOT NULL,
    stadium_id integer NOT NULL
    CONSTRAINT games_winner_id_fkey FOREIGN KEY (winner_id)
        REFERNCES teams(id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION,
    CONSTRAINT games_loser_id_fkey FOREIGN KEY (loser_id)
        REFERNCES teams (id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION,
    CONSTRAINT games_mvp_id_fkey FOREIGN KEY (mvp_id)
        REFERNCES players (id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION,
    CONSTRAINT games_id_fkey FOREIGN KEY (stadium_id)
        REFERNCES stadiums (id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION
)

CREATE TABLE teams(
    id serial PRIMARY KEY,
    full_name VARCHAR(50) UNIQUE NOT NULL,
)

CREATE TABLE players(
    id serial PRIMARY KEY,
    full_name VARCHAR(50) NOT NULL
)

CREATE TABLE stadiums(
    id series PRIMARY KEY,
    name VARCHAR(50),
    city_id integer NOT NULL,
    CONSTRAINT stadiums_city_id_fkey FOREIGN KEY (city_id)
        REFERENCES cities (id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION
)

CREATE TABLE cities(
    id series PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    state_id integer NOT NULL,
    CONSTRAINT cities_state_id_fkey FOREIGN KEY (state_id)
        REFERENCES states (id) MATCH SIMPLE
        ON UPDATE NO ACTION ON DELETE NO ACTION
)

CREATE TABLE states(
    id series PRIMARY KEY,
    name VARCHAR(50) NOT NULL
)

Loading data from CSV file

In [1]:
import pandas as pd
data = pd.read_csv('./superbowl.csv')

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 10 columns):
Date          54 non-null object
SB            54 non-null object
Winner        54 non-null object
Winner Pts    54 non-null int64
Loser         54 non-null object
Loser Pts     54 non-null int64
MVP           54 non-null object
Stadium       54 non-null object
City          54 non-null object
State         54 non-null object
dtypes: int64(2), object(8)
memory usage: 4.3+ KB
None

In [3]:
print(data)

           Date            SB                Winner  Winner Pts  \
0    Feb 2 2020      LIV (54)    Kansas City Chiefs          31
1    Feb 3 2019     LIII (53)  New England Patriots          13
2    Feb 4 2018      LII (52)   Philadelphia Eagles          41
3    Feb 5 2017       LI (51)  New England Patriots          34
4    Feb 7 2016            50        Denver Broncos          24
5    Feb 1 2015     XLIX (49)  New England Patriots          28
6    Feb 2 2014   XLVIII (48)      Seattle Seahawks          43
7    Feb 3 2013    XLVII (47)      Baltimore Ravens          34
8    Feb 5 2012     XLVI (46)       New York Giants          21
9    Feb 6 2011      XLV (45)     Green Bay Packers          31
10   Feb 7 2010     XLIV (44)    New Orleans Saints          31
11   Feb 1 2009    XLIII (43)   Pittsburgh Steelers          27
12   Feb 3 2008     XLII (42)       New York Giants          17
13   Feb 4 2007      XLI (41)    Indianapolis Colts          29
14   Feb 5 2006       XL (40)   Pittsburgh Steelers          21
15   Feb 6 2005    XXXIX (39)  New England Patriots          24
16   Feb 1 2004  XXXVIII (38)  New England Patriots          32
17  Jan 26 2003   XXXVII (37)  Tampa Bay Buccaneers          48
18   Feb 3 2002    XXXVI (36)  New England Patriots          20
19  Jan 28 2001     XXXV (35)      Baltimore Ravens          34
20  Jan 30 2000    XXXIV (34)        St. Louis Rams          23
21  Jan 31 1999   XXXIII (33)        Denver Broncos          34
22  Jan 25 1998    XXXII (32)        Denver Broncos          31
23  Jan 26 1997     XXXI (31)     Green Bay Packers          35
24  Jan 28 1996      XXX (30)        Dallas Cowboys          27
25  Jan 29 1995     XXIX (29)   San Francisco 49ers          49
26  Jan 30 1994   XXVIII (28)        Dallas Cowboys          30
27  Jan 31 1993    XXVII (27)        Dallas Cowboys          52
28  Jan 26 1992     XXVI (26)   Washington Redskins          37
29  Jan 27 1991      XXV (25)       New York Giants          20
30  Jan 28 1990     XXIV (24)   San Francisco 49ers          55
31  Jan 22 1989    XXIII (23)   San Francisco 49ers          20
32  Jan 31 1988     XXII (22)   Washington Redskins          42
33  Jan 25 1987      XXI (21)       New York Giants          39
34  Jan 26 1986       XX (20)         Chicago Bears          46
35  Jan 20 1985      XIX (19)   San Francisco 49ers          38
36  Jan 22 1984    XVIII (18)   Los Angeles Raiders          38
37  Jan 30 1983     XVII (17)   Washington Redskins          27
38  Jan 24 1982      XVI (16)   San Francisco 49ers          26
39  Jan 25 1981       XV (15)       Oakland Raiders          27
40  Jan 20 1980      XIV (14)   Pittsburgh Steelers          31
41  Jan 21 1979     XIII (13)   Pittsburgh Steelers          35
42  Jan 15 1978      XII (12)        Dallas Cowboys          27
43   Jan 9 1977       XI (11)       Oakland Raiders          32
44  Jan 18 1976        X (10)   Pittsburgh Steelers          21
45  Jan 12 1975        IX (9)   Pittsburgh Steelers          16
46  Jan 13 1974      VIII (8)        Miami Dolphins          24
47  Jan 14 1973       VII (7)        Miami Dolphins          14
48  Jan 16 1972        VI (6)        Dallas Cowboys          24
49  Jan 17 1971         V (5)       Baltimore Colts          16
50  Jan 11 1970        IV (4)    Kansas City Chiefs          23
51  Jan 12 1969       III (3)         New York Jets          16
52  Jan 14 1968        II (2)     Green Bay Packers          33
53  Jan 15 1967         I (1)     Green Bay Packers          35

                   Loser  Loser Pts                        MVP  \
0    San Francisco 49ers         20            Patrick Mahomes
1       Los Angeles Rams          3             Julian Edelman
2   New England Patriots         33                 Nick Foles
3        Atlanta Falcons         28                  Tom Brady
4      Carolina Panthers         10                 Von Miller
5       Seattle Seahawks         24                  Tom Brady
6         Denver Broncos          8              Malcolm Smith
7    San Francisco 49ers         31                 Joe Flacco
8   New England Patriots         17                Eli Manning
9    Pittsburgh Steelers         25              Aaron Rodgers
10    Indianapolis Colts         17                 Drew Brees
11     Arizona Cardinals         23            Santonio Holmes
12  New England Patriots         14                Eli Manning
13         Chicago Bears         17             Peyton Manning
14      Seattle Seahawks         10                 Hines Ward
15   Philadelphia Eagles         21               Deion Branch
16     Carolina Panthers         29                  Tom Brady
17       Oakland Raiders         21             Dexter Jackson
18        St. Louis Rams         17                  Tom Brady
19       New York Giants          7                 Ray Lewis+
20      Tennessee Titans         16               Kurt Warner+
21       Atlanta Falcons         19                John Elway+
22     Green Bay Packers         24             Terrell Davis+
23  New England Patriots         21             Desmond Howard
24   Pittsburgh Steelers         17                Larry Brown
25    San Diego Chargers         26               Steve Young+
26         Buffalo Bills         13              Emmitt Smith+
27         Buffalo Bills         17               Troy Aikman+
28         Buffalo Bills         24                Mark Rypien
29         Buffalo Bills         19             Ottis Anderson
30        Denver Broncos         10               Joe Montana+
31    Cincinnati Bengals         16                Jerry Rice+
32        Denver Broncos         10              Doug Williams
33        Denver Broncos         20                 Phil Simms
34  New England Patriots         10              Richard Dent+
35        Miami Dolphins         16               Joe Montana+
36   Washington Redskins          9              Marcus Allen+
37        Miami Dolphins         17              John Riggins+
38    Cincinnati Bengals         21               Joe Montana+
39   Philadelphia Eagles         10               Jim Plunkett
40      Los Angeles Rams         19            Terry Bradshaw+
41        Dallas Cowboys         31            Terry Bradshaw+
42        Denver Broncos         10  Harvey MartinRandy White+
43     Minnesota Vikings         14          Fred Biletnikoff+
44        Dallas Cowboys         17                Lynn Swann+
45     Minnesota Vikings          6             Franco Harris+
46     Minnesota Vikings          7              Larry Csonka+
47   Washington Redskins          7                 Jake Scott
48        Miami Dolphins          3            Roger Staubach+
49        Dallas Cowboys         13               Chuck Howley
50     Minnesota Vikings          7                Len Dawson+
51       Baltimore Colts          7                Joe Namath+
52       Oakland Raiders         14                Bart Starr+
53    Kansas City Chiefs         10                Bart Starr+

                          Stadium             City       State
0               Hard Rock Stadium    Miami Gardens     Florida
1           Mercedes-Benz Stadium          Atlanta     Georgia
2               U.S. Bank Stadium      Minneapolis   Minnesota
3                     NRG Stadium          Houston       Texas
4                  Levi's Stadium      Santa Clara  California
5   University of Phoenix Stadium         Glendale     Arizona
6                 MetLife Stadium  East Rutherford  New Jersey
7         Mercedes-Benz Superdome      New Orleans   Louisiana
8               Lucas Oil Stadium     Indianapolis     Indiana
9                 Cowboys Stadium        Arlington       Texas
10               Sun Life Stadium    Miami Gardens     Florida
11          Raymond James Stadium            Tampa     Florida
12  University of Phoenix Stadium         Glendale     Arizona
13                Dolphin Stadium    Miami Gardens     Florida
14                     Ford Field          Detroit    Michigan
15                 Alltel Stadium     Jacksonville     Florida
16                Reliant Stadium          Houston       Texas
17               Qualcomm Stadium        San Diego  California
18            Louisiana Superdome      New Orleans   Louisiana
19          Raymond James Stadium            Tampa     Florida
20                   Georgia Dome          Atlanta     Georgia
21             Pro Player Stadium    Miami Gardens     Florida
22               Qualcomm Stadium        San Diego  California
23            Louisiana Superdome      New Orleans   Louisiana
24              Sun Devil Stadium            Tempe     Arizona
25             Joe Robbie Stadium    Miami Gardens     Florida
26                   Georgia Dome          Atlanta     Georgia
27                      Rose Bowl         Pasadena  California
28                      Metrodome      Minneapolis   Minnesota
29                  Tampa Stadium            Tampa     Florida
30            Louisiana Superdome      New Orleans   Louisiana
31             Joe Robbie Stadium    Miami Gardens     Florida
32            Jack Murphy Stadium        San Diego  California
33                      Rose Bowl         Pasadena  California
34            Louisiana Superdome      New Orleans   Louisiana
35               Stanford Stadium        Palo Alto  California
36                  Tampa Stadium            Tampa     Florida
37                      Rose Bowl         Pasadena  California
38             Pontiac Silverdome          Pontiac    Michigan
39            Louisiana Superdome      New Orleans   Louisiana
40                      Rose Bowl         Pasadena  California
41                    Orange Bowl            Miami     Florida
42                      Superdome      New Orleans   Louisiana
43                      Rose Bowl         Pasadena  California
44                    Orange Bowl            Miami     Florida
45                 Tulane Stadium      New Orleans   Louisiana
46                   Rice Stadium          Houston       Texas
47              Memorial Coliseum      Los Angeles  California
48                 Tulane Stadium      New Orleans   Louisiana
49                    Orange Bowl            Miami     Florida
50                 Tulane Stadium      New Orleans   Louisiana
51                    Orange Bowl            Miami     Florida
52                    Orange Bowl            Miami     Florida
53              Memorial Coliseum      Los Angeles  California

After data anaysis, the Nan or NULL values hasn't been spotted, we can insert data to DB

In [7]:
winners = pd.DataFrame(data['Winner'])
losers = pd.DataFrame(data['Loser'])
team_list = winners.join(losers)
team_list = team_list.stack().reset_index()
team_list = team_list.drop('level_1', 1)
team_list = team_list.drop('level_0', 1)
team_list = team_list.drop_duplicates()
team_list = team_list.reset_index()
team_list = team_list.drop('index', 1)
team_list = team_list.rename(columns={0:'name'})
team_list

                    name
0     Kansas City Chiefs
1    San Francisco 49ers
2   New England Patriots
3       Los Angeles Rams
4    Philadelphia Eagles
5        Atlanta Falcons
6         Denver Broncos
7      Carolina Panthers
8       Seattle Seahawks
9       Baltimore Ravens
10       New York Giants
11     Green Bay Packers
12   Pittsburgh Steelers
13    New Orleans Saints
14    Indianapolis Colts
15     Arizona Cardinals
16         Chicago Bears
17  Tampa Bay Buccaneers
18       Oakland Raiders
19        St. Louis Rams
20      Tennessee Titans
21        Dallas Cowboys
22    San Diego Chargers
23         Buffalo Bills
24   Washington Redskins
25    Cincinnati Bengals
26        Miami Dolphins
27   Los Angeles Raiders
28     Minnesota Vikings
29       Baltimore Colts
30         New York Jets

In [10]:
player_list = pd.DataFrame(data['MVP'])
player_list = player_list.drop_duplicates()
player_list = player_list.reset_index()
player_list = player_list.drop('index', 1)
player_list = player_list.rename(columns={'MVP':'name'})
player_list.index.name = 'id'
player_list

                         name
id
0             Patrick Mahomes
1              Julian Edelman
2                  Nick Foles
3                   Tom Brady
4                  Von Miller
5               Malcolm Smith
6                  Joe Flacco
7                 Eli Manning
8               Aaron Rodgers
9                  Drew Brees
10            Santonio Holmes
11             Peyton Manning
12                 Hines Ward
13               Deion Branch
14             Dexter Jackson
15                 Ray Lewis+
16               Kurt Warner+
17                John Elway+
18             Terrell Davis+
19             Desmond Howard
20                Larry Brown
21               Steve Young+
22              Emmitt Smith+
23               Troy Aikman+
24                Mark Rypien
25             Ottis Anderson
26               Joe Montana+
27                Jerry Rice+
28              Doug Williams
29                 Phil Simms
30              Richard Dent+
31              Marcus Allen+
32              John Riggins+
33               Jim Plunkett
34            Terry Bradshaw+
35  Harvey MartinRandy White+
36          Fred Biletnikoff+
37                Lynn Swann+
38             Franco Harris+
39              Larry Csonka+
40                 Jake Scott
41            Roger Staubach+
42               Chuck Howley
43                Len Dawson+
44                Joe Namath+
45                Bart Starr+

In [11]:
state_list = pd.DataFrame(data['State'])
state_list = state_list.rename(columns={'State':'name'})
state_list = state_list.drop_duplicates()
state_list = state_list.reset_index()
state_list = state_list.drop('index', 1)
state_list.index.name = 'id'
state_list

          name
id
0      Florida
1      Georgia
2    Minnesota
3        Texas
4   California
5      Arizona
6   New Jersey
7    Louisiana
8      Indiana
9     Michigan

In [12]:
city_list = pd.DataFrame(data[['City','State']])
city_list = city_list.drop_duplicates()
city_list = city_list.reset_index()
city_list = city_list.drop('index', 1)
city_list = city_list.rename(columns={'City':'name', 'State':'state_id'})
city_list['state_id'] = city_list['state_id'].map(lambda x: state_list[state_list['name'] == x].index.values.astype(int)[0])
city_list.index.name = 'id'
city_list

               name  state_id
id
0     Miami Gardens         0
1           Atlanta         1
2       Minneapolis         2
3           Houston         3
4       Santa Clara         4
5          Glendale         5
6   East Rutherford         6
7       New Orleans         7
8      Indianapolis         8
9         Arlington         3
10            Tampa         0
11          Detroit         9
12     Jacksonville         0
13        San Diego         4
14            Tempe         5
15         Pasadena         4
16        Palo Alto         4
17          Pontiac         9
18            Miami         0
19      Los Angeles         4

In [14]:
stadium_list = pd.DataFrame(data[['Stadium', 'City']], columns=['Stadium','City'])
stadium_list = stadium_list.rename(columns = {'Stadium':'name','City':'city_id'})
stadium_list = stadium_list.drop_duplicates()
stadium_list = stadium_list.reset_index()
stadium_list = stadium_list.drop('index', 1)
stadium_list['city_id'] = stadium_list['city_id'].map(lambda x: city_list[city_list['name'] == x].index.values.astype(int)[0])
stadium_list.index.name = 'id'
stadium_list

                             name  city_id
id
0               Hard Rock Stadium        0
1           Mercedes-Benz Stadium        1
2               U.S. Bank Stadium        2
3                     NRG Stadium        3
4                  Levi's Stadium        4
5   University of Phoenix Stadium        5
6                 MetLife Stadium        6
7         Mercedes-Benz Superdome        7
8               Lucas Oil Stadium        8
9                 Cowboys Stadium        9
10               Sun Life Stadium        0
11          Raymond James Stadium       10
12                Dolphin Stadium        0
13                     Ford Field       11
14                 Alltel Stadium       12
15                Reliant Stadium        3
16               Qualcomm Stadium       13
17            Louisiana Superdome        7
18                   Georgia Dome        1
19             Pro Player Stadium        0
20              Sun Devil Stadium       14
21             Joe Robbie Stadium        0
22                      Rose Bowl       15
23                      Metrodome        2
24                  Tampa Stadium       10
25            Jack Murphy Stadium       13
26               Stanford Stadium       16
27             Pontiac Silverdome       17
28                    Orange Bowl       18
29                      Superdome        7
30                 Tulane Stadium        7
31                   Rice Stadium        3
32              Memorial Coliseum       19

In [15]:
game_list = pd.DataFrame(data[['Date', 'SB', 'Winner Pts', 'Loser Pts', 'Winner', 'Loser', 'MVP', 'City', 'Stadium']])
game_list.index.name = 'id'
game_list = game_list.rename(columns={'Winner':'winner_id', 'Loser':'loser_id', 'MVP':'mvp_id', 'City':'city_id', 'Stadium':'stadium_id', 'State':'state_id'})
game_list['winner_id'] = game_list['winner_id'].map(lambda x: team_list[team_list['name'] == x].index.values.astype(int)[0])
game_list['loser_id'] = game_list['loser_id'].map(lambda x: team_list[team_list['name'] == x].index.values.astype(int)[0])
game_list['mvp_id'] = game_list['mvp_id'].map(lambda x: player_list[player_list['name'] == x].index.values.astype(int)[0])
game_list['stadium_id'] = game_list['stadium_id'].map(lambda x: stadium_list[stadium_list['name'] == x].index.values.astype(int)[0])
game_list

,Date,SB,Winner Pts,Loser Pts,winner_id,loser_id,mvp_id,city_id,stadium_id
id,,,,,,,,,
0,Feb 2 2020,LIV (54),31,20,0,1,0,Miami Gardens,0
1,Feb 3 2019,LIII (53),13,3,2,3,1,Atlanta,1
2,Feb 4 2018,LII (52),41,33,4,2,2,Minneapolis,2
3,Feb 5 2017,LI (51),34,28,2,5,3,Houston,3
4,Feb 7 2016,50,24,10,6,7,4,Santa Clara,4
5,Feb 1 2015,XLIX (49),28,24,2,8,3,Glendale,5
6,Feb 2 2014,XLVIII (48),43,8,8,6,5,East Rutherford,6
7,Feb 3 2013,XLVII (47),34,31,9,1,6,New Orleans,7
8,Feb 5 2012,XLVI (46),21,17,10,2,7,Indianapolis,8
9,Feb 6 2011,XLV (45),31,25,11,12,8,Arlington,9
10,Feb 7 2010,XLIV (44),31,17,13,14,9,Miami Gardens,10
11,Feb 1 2009,XLIII (43),27,23,12,15,10,Tampa,11
12,Feb 3 2008,XLII (42),17,14,10,2,7,Glendale,5
13,Feb 4 2007,XLI (41),29,17,14,16,11,Miami Gardens,12
14,Feb 5 2006,XL (40),21,10,12,8,12,Detroit,13
15,Feb 6 2005,XXXIX (39),24,21,2,4,13,Jacksonville,14
16,Feb 1 2004,XXXVIII (38),32,29,2,7,3,Houston,15
17,Jan 26 2003,XXXVII (37),48,21,17,18,14,San Diego,16
18,Feb 3 2002,XXXVI (36),20,17,2,19,3,New Orleans,17
19,Jan 28 2001,XXXV (35),34,7,9,10,15,Tampa,11
20,Jan 30 2000,XXXIV (34),23,16,19,20,16,Atlanta,18
21,Jan 31 1999,XXXIII (33),34,19,6,5,17,Miami Gardens,19
22,Jan 25 1998,XXXII (32),31,24,6,11,18,San Diego,16
23,Jan 26 1997,XXXI (31),35,21,11,2,19,New Orleans,17
24,Jan 28 1996,XXX (30),27,17,21,12,20,Tempe,20
25,Jan 29 1995,XXIX (29),49,26,1,22,21,Miami Gardens,21
26,Jan 30 1994,XXVIII (28),30,13,21,23,22,Atlanta,18
27,Jan 31 1993,XXVII (27),52,17,21,23,23,Pasadena,22
28,Jan 26 1992,XXVI (26),37,24,24,23,24,Minneapolis,23
29,Jan 27 1991,XXV (25),20,19,10,23,25,Tampa,24
30,Jan 28 1990,XXIV (24),55,10,1,6,26,New Orleans,17
31,Jan 22 1989,XXIII (23),20,16,1,25,27,Miami Gardens,21
32,Jan 31 1988,XXII (22),42,10,24,6,28,San Diego,25
33,Jan 25 1987,XXI (21),39,20,10,6,29,Pasadena,22
34,Jan 26 1986,XX (20),46,10,16,2,30,New Orleans,17
35,Jan 20 1985,XIX (19),38,16,1,26,26,Palo Alto,26
36,Jan 22 1984,XVIII (18),38,9,27,24,31,Tampa,24
37,Jan 30 1983,XVII (17),27,17,24,26,32,Pasadena,22
38,Jan 24 1982,XVI (16),26,21,1,25,26,Pontiac,27
39,Jan 25 1981,XV (15),27,10,18,4,33,New Orleans,17
40,Jan 20 1980,XIV (14),31,19,12,3,34,Pasadena,22
41,Jan 21 1979,XIII (13),35,31,12,21,34,Miami,28
42,Jan 15 1978,XII (12),27,10,21,6,35,New Orleans,29
43,Jan 9 1977,XI (11),32,14,18,28,36,Pasadena,22
44,Jan 18 1976,X (10),21,17,12,21,37,Miami,28
45,Jan 12 1975,IX (9),16,6,12,28,38,New Orleans,30
46,Jan 13 1974,VIII (8),24,7,26,28,39,Houston,31
47,Jan 14 1973,VII (7),14,7,26,24,40,Los Angeles,32
48,Jan 16 1972,VI (6),24,3,21,26,41,New Orleans,30
49,Jan 17 1971,V (5),16,13,29,21,42,Miami,28
50,Jan 11 1970,IV (4),23,7,0,28,43,New Orleans,30
51,Jan 12 1969,III (3),16,7,30,29,44,Miami,28
52,Jan 14 1968,II (2),33,14,11,18,45,Miami,28
53,Jan 15 1967,I (1),35,10,11,0,45,Los Angeles,32

In [ ]:
team_list.to_sql('teams', engine, if_exists='append')
player_list.to_sql('players', engine, if_exists='append')
stadium_list.to_sql('stadiums', engine, if_exists='append')
city_list.to_sql('cities', engine, if_exists='append')
state.to_sql('teams', engine, if_exists='append')
game_liststate.to_sql('games', engine, if_exists='append')