In [1]:
from sqlalchemy import create_engine, MetaData, Table
!pip install psycopg2
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/1a/85/853f11abfccfd581b099e5ae5f2dd807cc2919745b13d14e565022fd821c/psycopg2-2.8.4-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.4

In [2]:
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'film', 'customer', 'inventory']

In [3]:
metadata = MetaData()
print(metadata)

MetaData(bind=None)

Exercise 2.
Getting information about staff

In [8]:
staff = Table('staff', metadata, autoload=True, autoload_with=db)
print(repr(staff))
print(staff.columns.keys())

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA9205708>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA93CF208>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA9952188>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)
['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

Getting information about address, because every staff memeber has related address record.
ForeignKey('address.address_id')

In [9]:
address = Table('address', metadata, autoload=True, autoload_with=db)
print(repr(address))
print(address.columns.keys())

Table('address', MetaData(bind=None), Column('address_id', INTEGER(), table=<address>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA9974108>, for_update=False)), Column('address', VARCHAR(length=50), table=<address>, nullable=False), Column('address2', VARCHAR(length=50), table=<address>), Column('district', VARCHAR(length=20), table=<address>, nullable=False), Column('city_id', SMALLINT(), ForeignKey('city.city_id'), table=<address>, nullable=False), Column('postal_code', VARCHAR(length=10), table=<address>), Column('phone', VARCHAR(length=20), table=<address>, nullable=False), Column('last_update', TIMESTAMP(), table=<address>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA997D788>, for_update=False)), schema=None)
['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']

Now we can get information about the city, because every address has related city. ForeignKey('city.city_id')

In [11]:
city = Table('city', metadata, autoload=True, autoload_with=db)
print(repr(city))
print(city.columns.keys())

Table('city', MetaData(bind=None), Column('city_id', INTEGER(), table=<city>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA95AF88>, for_update=False)), Column('city', VARCHAR(length=50), table=<city>, nullable=False), Column('country_id', SMALLINT(), ForeignKey('country.country_id'), table=<city>, nullable=False), Column('last_update', TIMESTAMP(), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA95A588>, for_update=False)), schema=None)
['city_id', 'city', 'country_id', 'last_update']

Now we can get information about the country, because every address has related country.
ForeignKey('country.country_id')

In [12]:
country = Table('country', metadata, autoload=True, autoload_with=db)
print(repr(country))
print(country.columns.keys())

Table('country', MetaData(bind=None), Column('country_id', INTEGER(), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA95AEC8>, for_update=False)), Column('country', VARCHAR(length=50), table=<country>, nullable=False), Column('last_update', TIMESTAMP(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA954D48>, for_update=False)), schema=None)
['country_id', 'country', 'last_update']

Searching for information about actor, language and filmactor

In [14]:
actor = Table('actor',metadata, autoload=True, autoload_with=db)
print(repr(actor))
print(actor.columns.keys())

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA967D08>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA997B588>, for_update=False)), schema=None)
['actor_id', 'first_name', 'last_name', 'last_update']

No foreign key, only one primary_key 'actor_id'. Checking' film_actor' table

In [15]:
film_actor = Table('film_actor',metadata, autoload=True, autoload_with=db)
print(repr(film_actor))
print(film_actor.columns.keys())

Table('film_actor', MetaData(bind=None), Column('actor_id', SMALLINT(), ForeignKey('actor.actor_id'), table=<film_actor>, primary_key=True, nullable=False), Column('film_id', SMALLINT(), ForeignKey('film.film_id'), table=<film_actor>, primary_key=True, nullable=False), Column('last_update', TIMESTAMP(), table=<film_actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA91FAF88>, for_update=False)), schema=None)
['actor_id', 'film_id', 'last_update']

We get the information with ForeignKey('actor.actor_id'). it's is als connected to film with ForeignKey('film.film_id'). Let's get information about the film

In [16]:
film = Table('film',metadata, autoload=True, autoload_with=db)
print(repr(film))
print(film.columns.keys())

Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA9F9C88>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAAA05148>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAAA05488>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA9FDC88>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAAA05D48>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA96E8C8>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)
['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

We can get information about language with ForeignKey('language.language_id')

In [17]:
language = Table('language',metadata, autoload=True, autoload_with=db)
print(repr(language))
print(language.columns.keys())

Table('language', MetaData(bind=None), Column('language_id', INTEGER(), table=<language>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA9978E88>, for_update=False)), Column('name', CHAR(length=20), table=<language>, nullable=False), Column('last_update', TIMESTAMP(), table=<language>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA997DA08>, for_update=False)), schema=None)
['language_id', 'name', 'last_update']

Exercise 3.
First let's get information about film_category table structure

In [18]:
film_category = Table('film_category', metadata, autoload=True, autoload_with=db)
print(repr(film_category))
print(film_category.columns.keys())

Table('film_category', MetaData(bind=None), Column('film_id', SMALLINT(), ForeignKey('film.film_id'), table=<film_category>, primary_key=True, nullable=False), Column('category_id', SMALLINT(), ForeignKey('category.category_id'), table=<film_category>, primary_key=True, nullable=False), Column('last_update', TIMESTAMP(), table=<film_category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA9919548>, for_update=False)), schema=None)
['film_id', 'category_id', 'last_update']

In [19]:
from sqlalchemy import select
stmt = select([film_category])

# Print the SQL query string
print(stmt)

# Execute the statement and fetch with limit the results 
results = db.execute(stmt).fetchall()

#getting number of categories
print(len(results))

SELECT film_category.film_id, film_category.category_id, film_category.last_update
FROM film_category
1000

Exercise 4.

In [20]:
category = Table('category', metadata, autoload=True, autoload_with=db)
print(repr(category))
print(category.columns.keys())

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAAA1E288>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAAA18B08>, for_update=False)), schema=None)
['category_id', 'name', 'last_update']

In [60]:
from sqlalchemy import select
stmt = select([category])

# Print the SQL query string
print(stmt)

# Execute the statement and fetch with limit the results 
results = db.execute(stmt).fetchmany(size=2)

for res in results:
    print(res.name)

SELECT category.category_id, category.name, category.last_update
FROM category
Action
Animation

Exercise 5.

In [39]:
stmt = 'select * from film order by release_year asc;'
res_films = db.execute(stmt).fetchall()

#print youngest film
print(res_films[0])
print(res_films[-1])

(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5")
(1000, 'Zorro Ark', 'A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery', 2006, 1, 3, Decimal('4.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'ark':2 'boy':12,17 'intrepid':4 'mad':8 'monasteri':20 'must':14 'panorama':5 'redeem':15 'scientist':9 'zorro':1")

Exercise 6.
Getting information about actor table structure and relations

In [60]:
filmactor = Table('film_actor', metadata, autoload=True, autoload_with=db)
print(repr(film_actor))
print(film_actor.columns.keys())

Table('film_actor', MetaData(bind=None), Column('actor_id', SMALLINT(), ForeignKey('actor.actor_id'), table=<film_actor>, primary_key=True, nullable=False), Column('film_id', SMALLINT(), ForeignKey('film.film_id'), table=<film_actor>, primary_key=True, nullable=False), Column('last_update', TIMESTAMP(), table=<film_actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA91FAF88>, for_update=False)), schema=None)
['actor_id', 'film_id', 'last_update']

In [45]:
actor = Table('actor', metadata, autoload=True, autoload_with=db)
print(repr(actor))
print(actor.columns.keys())

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAAA967D08>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAA997B588>, for_update=False)), schema=None)
['actor_id', 'first_name', 'last_name', 'last_update']

In [70]:
actor_stmt = 'SELECT actor.first_name, actor.last_name \
FROM actor \
INNER JOIN film_actor \
ON film_actor.actor_id=actor.actor_id \
WHERE actor.first_name = \'Olympia\' OR actor.first_name = \'Ellen\' OR actor.first_name = \'Julia\' \
GROUP BY actor.actor_id'
res_actors = db.execute(actor_stmt).fetchall()
print(res_actors)

[('Julia', 'Zellweger'), ('Olympia', 'Pfeiffer'), ('Julia', 'Mcqueen'), ('Julia', 'Barrymore'), ('Julia', 'Fawcett'), ('Ellen', 'Presley')]