In [6]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
engine = create_engine(db_string)

In [7]:
from sqlalchemy import create_engine, MetaData, Table

metadata = MetaData()

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)
	
print(repr(dic_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001D92D28FEC8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001D92D294C88>, for_update=False)), schema=None)

In [8]:
from sqlalchemy import select
from sqlalchemy import or_, and_

Ad 1. Counting film categories

In [16]:
mapper_stmt = select([dic_table['category'].columns.category_id])
mapper_results = db.execute(mapper_stmt).rowcount
print(mapper_results)

16

Ad 2. Printing film categories in descending order

In [20]:
mapper_stmt = select([dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name.desc())
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Travel',), ('Sports',), ('Sci-Fi',), ('New',), ('Music',), ('Horror',), ('Games',), ('Foreign',), ('Family',), ('Drama',), ('Documentary',), ('Comedy',), ('Classics',), ('Children',), ('Animation',), ('Action',)]

Ad 3. Finding oldest and youngest film in rental

In [24]:
mapper_stmt = select([dic_table['film'].columns.title]).order_by(dic_table['film'].columns.release_year)
mapper_results = db.execute(mapper_stmt).fetchall()
print('Oldest= ', mapper_results[-1])
print('Youngest= ', mapper_results[0])

Oldest=  ('Zorro Ark',)
Youngest=  ('Chamber Italian',)

Ad 4. How many rentals were in between 2005-07-01 and 2005-08-01?

In [27]:
mapper_stmt = select([dic_table['rental'].columns.rental_id]).where(\
                and_(dic_table['rental'].columns.rental_date > '2005-07-01', dic_table['rental'].columns.rental_date < '2005-08-01'))
mapper_results = db.execute(mapper_stmt).rowcount
print(mapper_results)

6709

Ad 5. How many rentals were in between 2010-01-01 and 2011-02-01?

In [28]:
mapper_stmt = select([dic_table['rental'].columns.rental_id]).where(\
                and_(dic_table['rental'].columns.rental_date > '2010-01-01', dic_table['rental'].columns.rental_date < '2011-02-01'))
mapper_results = db.execute(mapper_stmt).rowcount
print(mapper_results)

0

Ad 6. Biggest payment in rental

In [30]:
mapper_stmt = select([dic_table['payment'].columns.amount]).order_by(dic_table['payment'].columns.amount.desc())
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results[0])

(Decimal('11.99'),)

Ad. 7 All customers from Poland, Bangladesh and Nigeria

In [38]:
mapper_stmt = 'select first_name, last_name from customer \
inner join address on customer.address_id = address.address_id \
inner join city on address.city_id = city.city_id \
inner join country on city.country_id = country.country_id \
where country in (\'Poland\', \'Bangladesh\', \'Nigeria\')'
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Sonia', 'Gregory'), ('Brian', 'Wyman'), ('Sidney', 'Burleson'), ('Rodney', 'Moeller'), ('Stephen', 'Qualls'), ('Velma', 'Lucas'), ('Marilyn', 'Ross'), ('Elsie', 'Kelley'), ('Gladys', 'Hamilton'), ('Frank', 'Waggoner'), ('Marjorie', 'Tucker'), ('Carol', 'Garcia'), ('Leah', 'Curtis'), ('Ruben', 'Geary'), ('Olga', 'Jimenez'), ('Bertha', 'Ferguson'), ('Tracey', 'Barrett'), ('Jo', 'Fowler'), ('Johnnie', 'Chisholm'), ('Wallace', 'Slone'), ('Michelle', 'Clark'), ('Russell', 'Brinson'), ('Jimmie', 'Eggleston'), ('Constance', 'Reid')]

Ad. 8 Where do staff members live

In [40]:
mapper_stmt = 'select distinct address from address \
inner join staff on address.address_id = staff.address_id'
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('1411 Lillydale Drive',), ('23 Workhaven Lane',)]

Ad 9. How many members live in Spain or Argentina

In [43]:
mapper_stmt = 'select customer_id from customer \
inner join address on customer.address_id = address.address_id \
inner join city on address.city_id = city.city_id \
inner join country on city.country_id = country.country_id \
where country in (\'Spain\', \'Argentina\')'
mapper_results = db.execute(mapper_stmt).rowcount
print(mapper_results)

18

Ad 10. Which categories of the films were rented by clients?

In [46]:
mapper_stmt = 'select distinct name from category \
inner join film_category on category.category_id = film_category.category_id \
inner join film on film_category.film_id = film.film_id \
inner join inventory on film.film_id = inventory.film_id \
inner join rental on inventory.inventory_id = rental.inventory_id'
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Horror',), ('Comedy',), ('Drama',), ('Sci-Fi',), ('Foreign',), ('Classics',), ('Games',), ('Travel',), ('New',), ('Music',), ('Action',), ('Documentary',), ('Sports',), ('Animation',), ('Children',), ('Family',)]

Ad 11. Find all categories of films rented in America.

In [58]:
mapper_stmt = 'select distinct name from category \
inner join film_category on category.category_id = film_category.category_id \
inner join film on film_category.film_id = film.film_id \
inner join inventory on film.film_id = inventory.film_id \
inner join rental on inventory.inventory_id = rental.inventory_id \
inner join customer on rental.customer_id = customer.customer_id \
inner join address on customer.address_id = address.address_id \
inner join city on address.city_id = city.city_id \
inner join country on city.country_id = country.country_id \
where country = \'United States\''
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]

Ad 12. Films titles that Olympia Pfeiffer or Julia Zellweger or Ellen Presley played in

In [66]:
mapper_stmt = 'select distinct title from film \
inner join film_actor on film.film_id = film_actor.film_id \
inner join actor on actor.actor_id = film_actor.actor_id \
where (actor.first_name, actor.last_name) in ((\'Olympia\', \'Pfeiffer\'), (\'Julia\',\'Zellweger\'), (\'Ellen\',\'Presley\'))'
mapper_results = db.execute(mapper_stmt).fetchall()
print(mapper_results)

[('Scarface Bang',), ('Outlaw Hanky',), ('Contact Anonymous',), ('Intolerable Intentions',), ('Secretary Rouge',), ('Minds Truman',), ('Magnolia Forrester',), ('Effect Gladiator',), ('Idols Snatchers',), ('Image Princess',), ('Network Peak',), ('Open African',), ('Color Philadelphia',), ('Casper Dragonfly',), ('Hanky October',), ('Wyoming Storm',), ('Cranes Reservoir',), ('Won Dares',), ('Storm Happiness',), ('Psycho Shrunk',), ('Frogmen Breaking',), ('Rider Caddyshack',), ('Bilko Anonymous',), ('Others Soup',), ('Streetcar Intentions',), ('Hollow Jeopardy',), ('Hyde Doctor',), ('Detective Vision',), ('Floats Garden',), ('Jeopardy Encino',), ('Oscar Gold',), ('Divorce Shining',), ('Chitty Lock',), ('Deep Crusade',), ('Express Lonely',), ('Titanic Boondock',), ('Tourist Pelican',), ('Majestic Floats',), ('Caribbean Liberty',), ('Maude Mod',), ('Women Dorado',), ('Roots Remember',), ('Spy Mile',), ('Fugitive Maguire',), ('Lambs Cincinatti',), ('Homeward Cider',), ('Dares Pluto',), ('None Spiking',), ('Jacket Frisco',), ('Santa Paris',), ('Wait Cider',), ('Mars Roman',), ('Panky Submarine',), ('Pinocchio Simon',), ('Turn Star',), ('Traffic Hobbit',), ('Private Drop',), ('Treasure Command',), ('Empire Malkovich',), ('Ice Crossing',), ('Sweet Brotherhood',), ('Microcosmos Paradise',), ('Pickup Driving',), ('Tadpole Park',), ('Badman Dawn',), ('Murder Antitrust',), ('Firehouse Vietnam',), ('Sense Greek',), ('Breakfast Goldfinger',)]